*{
    margin: 0px;
    padding: 0px;
}
body {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: 9.5vh 90vh 40vh;
}
nav{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    background-color:rgba(116, 74, 235, 1);
    
}
/* nav div{
    border: 1px solid black;
} */
nav {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background-color: rgba(116, 74, 235, 1);
  /* position: fixed;
    left: 0px;
    right: 0px; */
  position: fixed;
  width: 100%;
  grid-column: 1/ 5;
  z-index: 101;
}

nav .left {
  display: flex;
  padding-left: 20px;

}

nav .left img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

nav .left div {
  line-height: 30px;
  margin-left: 7px;
  color: white;
}

nav .left div h3 {
  margin: 0px;
}

nav .center input {
  padding: 10px;
  border-radius: 50px;
  width: 90%;
  margin: 10px 0px 0px 10px;
  border: none;
  outline: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(217, 217, 217, 1);

}

nav .right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav .right a {
  text-decoration: none;
  margin: 10px;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: white;

}

nav a:hover {
  background-color: white;
  border-radius: 30px;
  color: black;

}
aside {
  display: flex;
  flex-direction: column;
  background-color: rgba(71, 30, 186, 1);
  grid-row-start: 2;
  grid-row-end: 4;



}

aside ul {

  color: white;
  list-style: disc;
  list-style-position: inside;
  margin: 0;
  /* padding-left: 5px; */
  width: 100%;


}

aside ul li {

  margin: 5px 0px;
  padding: 5px;

}

aside ul li:hover {
  background-color: white;
  color: rgba(71, 30, 186, 1);
}

aside ul a {
  text-decoration: none;
  color: white;
}

/*Contect style*/
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(38, 9, 61, 1);
    grid-column: 2 / 4;
      grid-row: 2/3;
  }
  
  
  .contact h2{
    font-weight: bold;
    font-size: 25px;
  }
  
  .section-one{
    margin:31px 12px 0px 120px;
    width: 400px;
  }
  .contact-use{
    margin:0px 0px 0px 0px;
  }
  
  .Get-touch{
    margin-top: 14px;
    margin-bottom: 35px;
  }
  
  .follow{
    margin-top: 35px;
    margin-bottom: 35px;
  }
  
  .address{
    margin-top: 40px;
  }
  
   .social{
     width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-right: 10px;
    display: inline;
    
   }
  
   .address-1{
    display: block;
     margin: 4px;
     font-size: 13px;
     font-weight: bold;
     text-decoration: none;
     color:rgba(38, 9, 61, 1);
   }

   .icone-address{
    width: 20px;
    height: 20px;
    margin: 0px 9px 0 0;
   }
  
   .contact p{
    font-size: 13px;
    font-weight: bold;
   }
  
  .section-two{
   width: 400px;
   margin-top: 30px;
  margin-right: 100px;
  
  }
  
  .send-message{
    margin-bottom: 35px;
    margin-top:31px;
  }
  
  .first-last-name{
    width: 126px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-style: bold;
    border-color:  rgba(38, 9, 61, 1);
    margin-right: 25px;
    margin-bottom: 35px;
    outline: none;
  }
  
  .info{
    width: 281px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-bottom-style: bold;
    border-color:  rgba(38, 9, 61, 1);
    margin-bottom: 35px;
    outline: none;
  }
  
  .send-button{
    margin-right: 20px;
    padding: 6px 15px 6px 15px;
    border: none;
    background-color:rgba(38, 9, 61, 1);
    color: white;
    border-style: 13px ;
    font-weight: bold;
    font-size: 10px;
   cursor: pointer;
   margin-bottom: 35px;
   }
  
   .contact h1{
    font-weight: bold;
    font-size: 40px;
  }
  
  .start-button{
    margin-right: 20px;
    margin-top: 30px;
    padding: 1px 30px 1px 30px ;
    background-color: rgb(255, 255, 255);
    color: rgba(38, 9, 61, 1);
    border-color:rgba(38, 9, 61, 1);
    border-width:2px;
    border-style: 13px ;
   font-weight: bold;
   font-size: 20px;
   cursor: pointer;
  }      