*{
    margin: 0px;
    padding: 0px;
}
.header{

    grid-column: 1 / 4;
    background-color: rgb(239, 116, 239);
    height: 33%;
    display: flex;
    flex-direction: row;
  
  }
  .profile-info{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 2px;
  width: 30%;
  }
  .profile-info img{
  height: 60px;
  width: 60px;
  border-radius: 100px;
  cursor: pointer;
  
  }
  .text{
  padding-top: 0px;
  line-height: 30px;
  padding-left:8px ;
  }
  .text h4{
  color: #EEEEEE;
  }
  .text p{
  color: #EEEEEE;
  }
  .search{
  height: 30px;
  border-radius: 20px;
  width: 30%;
  margin: 10px 0px 0px 10px;
  border: none;
  outline: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  vertical-align:middle;
  padding: 0px 0px 0px 10px;
  margin-top: 20px;
   border-radius: 50px;
  }
  ul{
  width: 40%;
  flex-direction: row;
  display: flex;
  gap: 10%;
  line-height: 450%;
  padding-left: 40px;
  }
  ul li{
    list-style: none;
    text-decoration: none;
  
  
  }
  ul li a{
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
  }
  ul li a:hover{
    background-color: aliceblue;
  
  
  
  }
  
  section{
 
}
#wrapper{
  display: grid;
  grid-template-columns: 25% 50%;
  grid-template-rows: 200px 400px;
  grid-gap: 5px;

}
.menu{
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: lightcoral;
margin-top: -139px;
}
.main{
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  display: grid;
 
  margin-top: -100px;
  row-gap: 5px;
  
}

.footer{
  grid-column-start:1;
  grid-column-end: 4;
  background-color: darkgrey;
}